body{
    width: 101%;
}
.container{
    background-color: white;
    display: block;
    margin: auto;
}
.lorem{
    width: 10rem;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
@media(min-height: 760px){
    .heading{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    }
}
.logo{
    margin-top: 20px;
    margin-left: 30px;
}
.button{
    margin-top: 20px;
    margin-right: 30px;
}
.buttons{
    margin-top: 20px;
    margin-right: 3rem;
}
h3, h1{
    text-transform: capitalize;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
p{
    color: hsl(192, 100%, 9%);
    font-family:'Open Sans';
}
.content{
    text-align: center;
    margin: 6% 3%;
}
button{
    width: 30%;
    height: 2rem;
    border-radius: 20px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-style: none;
}
button:hover{
    background-color: hsl(321, 100%, 78%);
}
.hey{
    color: hsl(322, 100%, 66%);
    background-color: white;
    border: 1px solid hsl(322, 100%, 66%);
    width: 100%;
}
.first{
    margin-left: 35%;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8rem;
}
.screen{
    padding: 0 10%;
    width: 80%;
}
.header{
    margin-bottom: 6rem;
}
.about{
    display: grid;
    gap: 1rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    min-height: 20rem;
    background: url('top1.svg') bottom no-repeat, url('top2.svg') top no-repeat;
    background-size: 100% 2rem;
    background-color: hsl(210, 80%, 94%);
}   
@media(min-width: 760px) {
    .about{
        gap: 10rem;
        grid-template-columns: 40rem 1fr 1fr;
        padding-bottom: 7rem;
        padding-top: 7rem;
    }
}
.flow{
    display: grid;
    gap: 1rem;
    min-height: 2rem;
}
@media(min-width: 760px) {
    .flow{
        gap: 7rem;
        grid-template-columns: 40rem 1fr 1fr;
        padding-bottom: 3rem;
    }
}
.text{
    text-align: center;
}
@media(min-width: 760px) {
    .text{
        padding: 0 30%;
    }
}
.texting{
    text-align: center;
}
.convo{
    width: 20rem; 
    min-height: 5rem; 
    padding-left: 15%;
}
.third{
    text-align: center;
    margin-bottom: 10rem;
}
.foot{
    display: grid;
    gap: 1rem;
}
@media(min-width: 760px) {
    .foot{
        gap: 1rem;
        grid-template-columns: 50% 1fr 1fr;
    }
}
.fourth{
    width: 80%;
    padding: 3rem 0 1rem 1rem;
    text-align: left;
}
.fifth{
    width: 80%;
    padding: 0 0 4rem 1rem;
}
@media(min-width:760px) {
    .fifth{
        padding: 3rem 1rem 3rem 3rem;
    }
}
.cnt{
    text-align: left;
}
.color{
    color: white;
    text-align: left;
}
.submit{
    border-radius: 5px;
    width: 35%;
    height: 24px;
    border-style: none;
}
.btn{
    display: flex;
    flex-direction: row;
}
.flex{
    display: flex;
    flex-direction: row;
}
.icon{
    margin-left: 6rem;
}
.fa{
    padding-right: 2rem;
    color: white;
}
.fa-phone{
    margin-top: 20px;
}
.footer{
    background-size: 100%;
    background-color: #00252E;
}